<%= form_with(model: [@post, @post.comments.build], local: true) do |form| %>

  <p>
    <%= form.label :name %><br>
    <% if current_user %>
      <%= form.text_field :name, value: current_user.username %>
    <% else %>
      <%= form.text_field :name %>
    <% end %>
  </p>

  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>