<%= form_with scope: :post, url: posts_path, local: true do |form| %>

  <% if @post.errors.any? %>
    <div class="errors">
      <h2>
        <%= pluralize(@post.errors.count, "error")%> stopped this post from saving! :(
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>